@model IEnumerable<RegisterDriverViewModel>


<div class=" container">



    <div class="w-100 p-2">
        <h3 class="my-5 pt-5">View Bookings</h3>

        <table id="example" class="table " style="width: 100%">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Phone</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @try
                {
                    @foreach (var i in @Model)
                    {
                        <tr>
                            <td>@i.FirstName</td>
                            <td>@i.Source </td>
                            <td>@i.Destination</td>
                            <td>@i.PhoneNumber</td>

                            <td>
                                <a class="btn btn-primary" asp-area="Driver" asp-controller="Home" asp-action="SetBookingStatus" asp-route-bookingId="@i.BookingId" asp-route-bookingStatusId=1>Accept</a>
                            </td>
                            
                            <td>
                                <a class="btn btn-danger" asp-area="Driver" asp-controller="Home" asp-action="SetBookingStatus" asp-route-bookingId="@i.BookingId" asp-route-bookingStatusId=0>Reject</a>
                            </td>
                        </tr>
                    }
                }
                catch (Exception e)
                {
                    Console.WriteLine(e);
                }



            </tbody>
        </table>


    </div>

</div>